#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    border: 1px solid black;
    /* padding-left: 5vw; */
    margin-right: 15vw;
}

#icon{
    height: 5vw;
    width: 5vw;
}